.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
    z-index: 9999;
    background-color: rgba(50, 50, 50, 0.8);
    backdrop-filter: blur(8px);
}

.nav-logo {
    font-size: 36px;
    font-weight: 600;
    text-shadow: #007bff 0px 2px 4px;
    text-shadow: 0px 0px 3px #007bff, -1px -1px #007bff, 1px 1px #007bff;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 97%;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 30px;
    flex-grow: 1;
    justify-content: left;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
}

.nav-menu li a:hover {
    color: lightblue;
}

.nav-signin {
    border-radius: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.nav-signin:hover {
    background: #0056b3;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger-logo {
    width: 35px;
    height: 35px;
}

.hamburger:hover .hamburger-logo {
    transform: scale(1.1);
}

.singin-hamburger {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 10px;
    }

    .nav-container {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .hamburger {
        display: flex;
        width: 65px;
    }

    .nav-menu {
        flex-direction: column;
        background-color: gray;
        width: 100%;
        position: absolute;
        top: 57px;
        left: 46%;
        right: 0;
        display: none;
        text-align: center;
        padding: 20px 0;
        border-radius: 10px;
    }

    .nav-menu.open {
        display: flex;
        width: 50%;
        justify-content: center;
    }

    .nav-buttons {
        margin-top: 10px;
    }

    .nav-signin {
        padding: 5px 15px;
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
    }

    .nav-signin{
        display: none;
    }
    .singin-hamburger {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .nav-menu {
        flex-grow: 0;
    }
    .nav-signin{
        padding: 5px 15px;
    }
}