.hero-search-container {
    display: flex;
    width: 100%;
    max-width: 40%;
    height: 7%;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.8);
    overflow: hidden;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.hero-search-input {
    font-family: Noto Sans, sans-serif;
    font-weight: 500;
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: white;
}

.hero-search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.hero-search-button {
    font-family: Lexend Deca, sans-serif;
    font-weight: 500;
    padding: 10px 30px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: background 0.4s ease;
}

.hero-search-button:hover {
    background-color: rgba(131, 192, 217, 0.8);
}

.fa-solid
{
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .hero-search-container {
        max-width: 90%;
    }

    .hero-search-input {
        font-size: 14px;
    }

    .hero-search-button {
        padding: 10px 15px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .hero-search-container {
        max-width: 65%;
    }

    .hero-search-input {
        font-size: 14px;
    }

    .hero-search-button {
        padding: 10px 15px;
    }

}

@media (min-width: 1200px) and (max-width: 1800px) {
    .hero-search-container {
        max-width: 65%;
    }

    .hero-search-input {
        font-size: 14px;
    }

    .hero-search-button {
        padding: 10px 15px;
    }
}